
.pointer {
  color: white;
  z-index: 9999999;
  transition: opacity 0.4s;
  opacity: 1;
}

.pointer.hidden{
  opacity: 0;
}

.pointerButtonContainer{
  position: relative;
  left: -50%;
  /* outline: solid 12px white; */
}

.pointerButton {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background: radial-gradient(circle, rgb(252, 185, 1) 30%, rgba(243, 120, 5, 0.966) 60%, rgb(0, 0, 0) 100%);
  cursor: pointer;
  border: none;
  animation: pulsate 1.75s infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(1.2);
    opacity: 0.7;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0.7;
  }

}

.imageContainer{
  /* outline: solid 12px white; */
  position: absolute;
}

.cursorEyesImg{
  position: relative;
  bottom: 130px;
  left: -25%;
}

.cursorTotoroImg {
  position: relative;
  top: -70px;
}

